# Editor files
.vscode/

# Docker container files
.devcontainer/

# Don't upload dataset
data/raw/*
data/train/*
data/validation/*
data/test/*

# But keep these folders to maintain directory structure
!data/raw/.gitkeep
!data/ciexyz.csv
!data/d65.csv
!data/train/.gitkeep
!data/validation/.gitkeep
!data/test/.gitkeep

# PyCache
src/__pycache__

# Logs
logs/
!logs/fit/.gitkeep

# Datasets cache
cache/
!cache/.gitkeep

